*{
  box-sizing: border-box;
  margin: 0;
}
@font-face {
  font-family: 'Cereal Black';
  src: url("../fonts/AirbnbCereal-Black.ttf"); 
  src: url("../fonts/AirbnbCereal-Black.ttf") format("embedded-opentype"),
  url("../fonts/AirbnbCereal-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Cereal Bold';
  src: url("../fonts/AirbnbCereal-Bold.ttf"); 
  src: url("../fonts/AirbnbCereal-Bold.ttf") format("embedded-opentype"),
  url("../fonts/AirbnbCereal-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Cereal Book';
  src: url("../fonts/AirbnbCereal-Book.ttf"); 
  src: url("../fonts/AirbnbCereal-Book.ttf") format("embedded-opentype"),
  url("../fonts/AirbnbCereal-Book.ttf") format("truetype");
}
@font-face {
  font-family: 'Cereal ExtraBold';
  src: url("../fonts/AirbnbCereal-ExtraBold.ttf"); 
  src: url("../fonts/AirbnbCereal-ExtraBold.ttf") format("embedded-opentype"),
  url("../fonts/AirbnbCereal-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Cereal Light';
  src: url("../fonts/AirbnbCereal-Light.ttf"); 
  src: url("../fonts/AirbnbCereal-Light.ttf") format("embedded-opentype"),
  url("../fonts/AirbnbCereal-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Cereal Medium';
  src: url("../fonts/AirbnbCereal-Medium.ttf"); 
  src: url("../fonts/AirbnbCereal-Medium.ttf") format("embedded-opentype"),
  url("../fonts/AirbnbCereal-Medium.ttf") format("truetype");
}